## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
*.snupkg
.nuget/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.vspscc
*.vssscc

## JetBrains Rider
.idea/

## VS Code
.vscode/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
